.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button {
    font-size: 30px;
    background-color: burlywood;
    padding: 10px 20px;
    border-radius: 2px;
    border: none;
    margin: 10px;
}